*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#topo{
	background-color:#00112F;
	grid-column-start:1;
	grid-column-end:6;
	grid-rows:1/3;
	font-family: 'Italiana', serif;
	display:flex;
	display:grid;
	grid-template-columns:40% 20% 40%;
	border:2px solid black;
	
	
}


#topo > img{
	width:70%;
}

#topo > img2{
	grid-row:1/5;
	grid-column:1/2;
	
}
 

}

#img2{
    width:40px;
	height:30px;
	/*margin:hight;
	background-position:right;*/
	
	
}

}

.site{
	background-color:#EDFFFD;
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%; /* para dividir em culunas*/
	grid-template-rows:20% 10% 40% 30%;/*300px 80px 500px 500px 100px;  /*para dividir em linha*/
	
}
#jj{
	width: 200px;
	background-color:#F7FBF3;
	text-align:center;
	margin:auto;
	

}

 
#menu{
	 background-color:#EDFFFD;
	 grid-column-start:1;
	grid-column-end:span 5;
	border:2px solid black;
	border-radius: 20px 20px 20px 20px;
	height:60px;
	margin:15px;
	font-family:sans-serif;
 }
 
 #desenvolvimento{
	 background-image:url('imagens/projeto.png');
	 background-repeat:no-repeat;
	 height:300px;
	 width:900px;
	 grid-column:1/3;
	 text-indent:-100000px;
	 grid-row:3/4;
	 
	 
 }
 #plano{
	 background-image:url('imagens/completo.png');
	 background-repeat:no-repeat;
	 height:300px;
	
	 grid-column:3/4;
	 text-indent:-100000px;
	 grid-row:3/4;
 }
 #imgcom{
		 
	 width:100%;
	 height:350px;
	 background-image:url('imagens/banner.jpg');
	 background-repeat:no-repeat;
	 background-size:cover;
	 background-position:center;
 }

#menu ul{
	 display:flex;
	 justify-content:space-around;
	 list-style:none;
	 align-items:center;
	 height:100%;
 }
 
 #menu ul li a{
	 text-decoration:none;
	 color:black;
	 
 }
 
 #nome{
	font-size:25px;
}
 
#conteudoprincipal{
	background-color:white;
	grid-column:1/6;
	grid-row:3/5;
	display:grid;
	grid-template-columns:1fr 1fr 2fr;
	grd-template-rows:1fr 1fr 1fr;
	/*justify-content:center;*/
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	
}

#form{
	grid-row:1/4;
	grid-column:1/4;
	border:2px solid black;
	padding:10px;
	border-radius: 20px 20px 20px 20px;
	margin:15px;
	background-color:#EDFFFD;
	color:black;
	
}

#parte{
	border:2px solid black;
	padding:10px;
	border-radius: 20px 20px 20px 20px;
	grid-column:1/4;
	margin:15px;
	background-color:SlateGray;/*#043673*/
	color:white;
}
#partee{
	border:2px solid black;
	border-radius:20px 20px 20px 20px;
	padding:10px;
	margin:15px;
	background-color:SlateGray;
	color:white;
	

}

#parteu{
	border:2px solid black;
	padding:22px;
	border-radius:20px 20px 20px 20px;
	margin:15px;
	background-color:SlateGray;
	color:white;
	
}

#partea{
	border:2px solid black;
	border-radius:20px 20px 20px 20px;
	padding:10px;
	margin:15px;
	background-color:SlateGray;
	color:white;
	
	
}

#partei{
	border:2px solid black;
	padding:10px;
	border-radius: 20px 20px 20px 20px;
	grid-column:1/4;
	margin:15px;
	background-color:SlateGray;/*#043673*/;
	color:white;
	text-align:center;
	
}

#orçamento{
	border:1px solid black;
	padding:10px;
	border-radius: 30px;
	background-color:AliceBlue;
	
}

#tab{
width: 550px;
height: 350px;
}
#rodape{
	background-color:#DED4D4;
	grid-column:1/6;
	text-align:center;
}
h1{
	font-size:23px;
}
#parteo{
	border:2px solid black;
	padding:10px;
	border-radius: 20px 20px 20px 20px;
	grid-column:1/4;
	margin:15px;
	background-color:SlateGray;/*#043673*/;
	color:white;
	text-align:center;
}

#des{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grd-template-rows:1fr 1fr 1fr;
}
#mapa{
	width:100%;
}
/*#barralateral{
	background-color:#043673;
	grid-column:5/6;
	grid-row-start:3;
	grid-row-end:5;
	
}


#noticias{
	background-color:#024E99;
}

.noticias{
	background-color:Lavender;
	width:80%;
	margin:10px auto;
	padding:5px;
	text-align:center;
}

.noticias img{
	width:250px;
}*/
/*.divHeader2>img{
width: 430px;
height: 260px;
position: absolute;
right: 65%;*/

/*#img1{
	max-width:100%;
	width:100px;
	height:100px;
	margin:hight;
	background-position:right;
	
	
}*/

/*.divHeader>img{
width: 450px;
height: 280px;
position: absolute;
left: 65%;*/